@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	body {
		@apply from-black via-cyan-900 to-gray-900;
	}
}

@layer components {
	.btn {
		@apply px-4 font-semibold border-2 border-slate-700 hover:bg-green-700 hover:text-gray-200 hover:scale-110 ease-in duration-100 rounded-lg;
	}

	.page-container {
		@apply h-screen w-full flex flex-col justify-center items-center bg-gradient-to-br;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
